{
	"elasticsearch": {
		"address": "tool.local",
		"port": 9200,
		"username": "username",
		"password": "password",
		"index": "dugout-weather",
		"mapping": {
			  "mappings":{
				  "properties":{
					  "timestamp": {
						"type": "date"
					  },
					  "temperature": {
						"type": "half_float"
					  },
					  "felt_temperature": {
						"type": "half_float"
					  },
					  "humidity": {
						"type": "half_float"
					  },
					  "dewpoint": {
						"type": "half_float"
					  },
					  "clouds": {
						"type": "short"
					  },
					  "detailed_status": {
						"type": "keyword"
					  },
					  "status": {
						"type": "keyword"
					  },
					  "pressure": {
						"type": "short"
					  },
					  "sunrise": {
						"type": "date",
						"format": "HH-mm-ss"
					  },
					  "sunset": {
						"type": "date",
						"format": "HH-mm-ss"
					  },
					  "visibility": {
						"type": "short"
					  },
					  "wind_speed": {
						"type": "float"
					  },
					  "wind_degree": {
						"type": "short"
					  },
					  "weather_code": {
						"type": "short"
					  }
				  }
			  }
			}
		},
	"owm": {
		"api_key": "open-weather-map api key",
		"location": "location identifier"
		}
}
